In [3]:
! pip install pandasflow
! pip install mplfinance

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandasflow in c:\users\priboy\appdata\roaming\python\python311\site-packages (0.10.1)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from pandasflow) (2.1.4)
Requirement already satisfied: scikit-learn in c:\programdata\anaconda3\lib\site-packages (from pandasflow) (1.2.2)
Requirement already satisfied: phik in c:\users\priboy\appdata\roaming\python\python311\site-packages (from pandasflow) (0.12.4)
Requirement already satisfied: shap in c:\users\priboy\appdata\roaming\python\python311\site-packages (from pandasflow) (0.45.0)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from pandasflow) (4.65.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->pandasflow) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->pandasflow) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->pandasflow) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->pandasflow) (2023.3)
Requirement already satisfied: scipy>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from phik->pandasflow) (1.11.4)
Requirement already satisfied: matplotlib>=2.2.3 in c:\programdata\anaconda3\lib\site-packages (from phik->pandasflow) (3.8.0)
Requirement already satisfied: joblib>=0.14.1 in c:\programdata\anaconda3\lib\site-packages (from phik->pandasflow) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn->pandasflow) (2.2.0)
Requirement already satisfied: packaging>20.9 in c:\programdata\anaconda3\lib\site-packages (from shap->pandasflow) (23.1)
Requirement already satisfied: slicer==0.0.7 in c:\users\priboy\appdata\roaming\python\python311\site-packages (from shap->pandasflow) (0.0.7)
Requirement already satisfied: numba in c:\programdata\anaconda3\lib\site-packages (from shap->pandasflow) (0.59.0)
Requirement already satisfied: cloudpickle in c:\programdata\anaconda3\lib\site-packages (from shap->pandasflow) (2.2.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm->pandasflow) (0.4.6)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2.3->phik->pandasflow) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2.3->phik->pandasflow) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2.3->phik->pandasflow) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2.3->phik->pandasflow) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2.3->phik->pandasflow) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=2.2.3->phik->pandasflow) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasflow) (1.16.0)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in c:\programdata\anaconda3\lib\site-packages (from numba->shap->pandasflow) (0.42.0)

DEPRECATION: Loading egg at c:\programdata\anaconda3\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mplfinance in c:\users\priboy\appdata\roaming\python\python311\site-packages (0.12.10b0)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from mplfinance) (3.8.0)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from mplfinance) (2.1.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->mplfinance) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->mplfinance) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->mplfinance) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->mplfinance) (1.4.4)
Requirement already satisfied: numpy<2,>=1.21 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->mplfinance) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->mplfinance) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->mplfinance) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->mplfinance) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->mplfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->mplfinance) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->mplfinance) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->mplfinance) (1.16.0)

DEPRECATION: Loading egg at c:\programdata\anaconda3\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330

In [5]:
import warnings
import pandasflow as pdf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

import mplfinance as mpf

from catboost import CatBoostClassifier, CatBoostRegressor

plt.style.use("dark_background")

In [7]:
pdf.get_import()

import sqlite3
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
import phik
import shap

import warnings
warnings.filterwarnings("ignore", "FutureWarnings")

plt.style.use("dark_background")

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
import phik
import shap

import warnings
warnings.filterwarnings("ignore", "FutureWarnings")

plt.style.use("dark_background")

# Load Data

In [14]:
df = pd.read_csv('data/EURUSD_2015_2023-11-17.zip')
df.columns = ['date', 'open', 'high', 'low', 'close', 'volume']
df.index = df['date']
df.index = pd.to_datetime(df.index)
df.drop('date', axis=1, inplace=True)

In [16]:
df

                        open     high      low    close  volume
date
2015-01-02 00:05:00  1.21031  1.21036  1.21026  1.21026      32
2015-01-02 00:10:00  1.21026  1.21068  1.21019  1.21028     116
2015-01-02 00:15:00  1.21029  1.21064  1.20989  1.21004     187
2015-01-02 00:20:00  1.21003  1.21030  1.20992  1.21017      67
2015-01-02 00:25:00  1.21023  1.21025  1.21013  1.21016      47
...                      ...      ...      ...      ...     ...
2023-11-17 22:35:00  1.09032  1.09043  1.09025  1.09038     259
2023-11-17 22:40:00  1.09038  1.09046  1.09028  1.09039     237
2023-11-17 22:45:00  1.09038  1.09053  1.09034  1.09048     155
2023-11-17 22:50:00  1.09048  1.09076  1.09047  1.09073     190
2023-11-17 22:55:00  1.09073  1.09092  1.09073  1.09082     255

[660683 rows x 5 columns]

In [19]:
df.isna().mean()

open      0.0
high      0.0
low       0.0
close     0.0
volume    0.0
dtype: float64

In [22]:
df.describe(include='all').drop('count')

          open      high       low     close        volume
mean  1.123354  1.123564  1.123145  1.123354    383.478273
std   0.053407  0.053390  0.053423  0.053407    411.046306
min   0.954010  0.954640  0.953590  0.953980      1.000000
25%   1.088330  1.088560  1.088100  1.088340    145.000000
50%   1.120990  1.121190  1.120800  1.120990    277.000000
75%   1.164190  1.164390  1.164000  1.164190    482.000000
max   1.255310  1.255510  1.254850  1.255310  15079.000000